<!DOCTYPE html>
<html lang="en">

<!-- Head snippet-->
{% include 'includes/head.html' %}

<body>

    <!-- Navbar snippit-->
    <div>
        {% include 'includes/navbar.html' %}
    </div>

    <!-- Notification message-->
    <div>
        {% if messages %}
        <div>
            <strong>Messages:</strong>
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <!-- content snippt-->
    {% block content %} {% endblock content %}



    <!-- Script snippet-->
    {% include 'includes/script.html' %}

</body>

</html>