<!-- Inheret the base template-->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container pageabout">
    <h1 class="headname">Hello about</h1>
    <p class="cont">
A web-based stock prediction system is developed based on trading and machine learning algorithms performed on historical stock prices to discover rules for making future predictions and decisions.
<br>
In this project , We've built a website of Stock Market Simulation based on back-end SQL database (which is more powerful) of historical stock prices by applying Portfolio Risk Analysis, Technical Analysis with various trading strategies for making decisions such as: Moving Crossover Strategy, Bollinger Bands Indicator. Moreover, We've used two approaches of various machine learning models for stock prediction:
    </p>
        </div>            
{% endblock %}