<!-- Inheret the base template-->
{% extends 'base.html' %}

<!-- load files from static folder-->
{% load static %}

<!-- Content-->
{% block content %}

<!-- carousel-->
<div class="carousel slide " id="demo" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#demo"></li>
        <li data-slide-to="1" data-target="#demo"></li>
        <li data-slide-to="2" data-target="#demo"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/1.jpg' %}" alt="Los Angeles" width="100%" height="650">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/2.jpg' %}" alt="Los Angeles" width="100%" height="650">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/3.jpg' %}" alt="Los Angeles" width="100%" height="650">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" data-slide="prev" href="#demo">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" data-slide="next" href="#demo">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<!-- End of Carousel Slide -->


<div class="container">
    <div class="row">

        <!-- Main jumbotron for a primary marketing message or call to action -->

    </div>
</div>

<!-- Tables-->
<div class="container">
    <h4>Company names </h4>

    <table class="table table-responsive-lg table-bordered table-lg table-hover  tabl">
        <thead>
            <tr class="tablehead thead-dark">
                <th>Company Name</th>
                <th>date</th>
                <th>open</th>
                <th>close</th>
                <th>high</th>
                <th>low</th>
                <th>adjusted close</th>
                <th>volume</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'AAPL' %}">Apple Inc.</a>
                </td>
                <td>2018-03-27</td>
                <td>173.68</td>
                <td>168.34</td>
                <td>175.15</td>
                <td>166.92</td>
                <td>168.34</td>
                <td>38962839</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'MSFT' %}">Microsoft Corp.</a>
                </td>
                <td>2018-03-27</td>
                <td>94.94</td>
                <td>89.47</td>
                <td>95.139</td>
                <td>88.51</td>
                <td>89.47</td>
                <td>53704562</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'GOOG' %}">Google Inc.</a>
                </td>
                <td>2018-03-27</td>
                <td>1063</td>
                <td>1005.1</td>
                <td>1064.84</td>
                <td>996.92</td>
                <td>1005.1</td>
                <td>3029471</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'FB' %}">Facebook Inc.</a>
                </td>
                <td>2018-03-27</td>
                <td>156.31</td>
                <td>152.19</td>
                <td>162.85</td>
                <td>150.75</td>
                <td>152.19</td>
                <td>76787884</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'TWTR' %}">Twitter Inc.</a>
                </td>
                <td>2018-03-27</td>
                <td>31.85</td>
                <td>28.07</td>
                <td>31.9</td>
                <td>27.88</td>
                <td>28.07</td>
                <td>79821992</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'YHOO' %}">Yahoo! Inc.</a>
                </td>
                <td>2017-06-16</td>
                <td>52.79</td>
                <td>52.5892</td>
                <td>53.3</td>
                <td>51.9</td>
                <td>52.5892</td>
                <td>251032146</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'RTN' %}">Raytheon Company</a>
                </td>
                <td>2018-03-27</td>
                <td>219.88</td>
                <td>215.11</td>
                <td>220</td>
                <td>213.8</td>
                <td>215.11</td>
                <td>1583703</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'EA' %}">Electronic Arts Inc.</a>
                </td>
                <td>2018-03-27</td>
                <td>126.37</td>
                <td>119.98</td>
                <td>126.99</td>
                <td>118.92</td>
                <td>119.98</td>
                <td>3011352</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'NVDA' %}">NVIDIA Corp.</a>
                </td>
                <td>2018-03-27</td>
                <td>247.75</td>
                <td>225.52</td>
                <td>250</td>
                <td>219.845</td>
                <td>225.52</td>
                <td>34462113</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'INTC' %}">Intel Corp.</a>
                </td>
                <td>2018-03-27</td>
                <td>53.01</td>
                <td>51.19</td>
                <td>53.25</td>
                <td>50.78</td>
                <td>51.19</td>
                <td>37076576</td>
            </tr>
            <tr>
                <td>
                    <a class="dropdown-item" href="{% url 'AMD' %}">Advanced Micro Devices, Inc.</a>
                </td>
                <td>2018-03-27</td>
                <td>10.51</td>
                <td>10</td>
                <td>10.59</td>
                <td>9.9</td>
                <td>10</td>
                <td>68157322</td>
            </tr>
        </tbody>
    </table>
</div>
<marquee class="move" onmouseover="this.stop()" onmouseout="this.start()">News & Information News & Information News & Information News & Information News & Information News & Information
</marquee>

{% endblock content %}