<!-- Inheret the base template-->
{% extends 'base.html' %}

<!-- Load libraries-->
{% load crispy_forms_tags %} {% load i18n %}

<!-- Title-->
{% block head_title %}{% trans "Profile" %}{% endblock %}

<!-- Content-->
{% block content %}
<div class="col-md-12 col-sm-offset-0">
    <h1>{% trans "Profile" %}</h1>

    User Name: {{ user.username }} <br> Email: {{ user.email }} <br> User ID: {{ user.id }} <br>

    <button onclick="window.location.href='{% url 'account_update' %}'">Edit Profile</button>
    <button onclick="window.location.href='{% url 'account_change_password' %}'">Change Password</button>
    <button onclick="window.location.href='{% url 'account_reset_password' %}'">Reset Password</button>
    <button onclick="window.location.href='{% url 'account_email' %}'">Send verification</button>
    <button onclick="window.location.href='{% url 'account_logout' %}'">SignOut</button>
</div>
{% endblock %}