
src/.idea
src/checkout/__pycache__
src/checkout/migrations
src/contact/__pycache__
src/contact/migrations
src/profiles/__pycache__
src/profiles/migrations
src/websitefinal/__pycache__
src/.idea/workspace.xml
*.iml
*.xml
*.pyc
src/.idea/workspace.xml
*.pyc
