<!DOCTYPE html>

<!--head snippit-->
<div>
    {% include 'includes/head.html' %}
</div>

<body>
    <!--Nav bar snippet-->
    <div id="navBar" class="contanier">
        <div class="head">
            <div class="btn" <a href='/home'> Home</a>
            </div>
            <div class="btn" <a href='#'> Contant </a>
            </div>
            <div class="btn" <a href='#'> More</a>
            </div>
            <div class="btn" <a href='#'> Sing In </a>
            </div>
        </div>

        <!--body snippet-->
        <div id="mainBody">

            {% block content %} {% endblock content %}

        </div>

        <!--
<div class=bottom></div>

<div class=img2>
    <img src=cr3.jpg height=300px width=350px;>
    <p> aiofhoajoagjo </p>
</div>
-->
</body>