{% extends "homePage/header.html" %} {% block content %}
<div class="fadeInUp">
    <table>
        <caption> DAILY STATISTICS </caption>
        <tr>
            <td> Total Volume <span> 34,789,791</span></td>
            <td> Total Value <span> 98,669,995 </span> </td>
            <td> Total Trades <span> 960 </span> </td>
            <td> Traded Companies <span> 33 </span> </td>
            <td> Advanced <span> 16 </span> </td>
        </tr>
    </table>

    <table>
        <caption> DAILY STATISTICS </caption>
        <tr>
            <td> Total Volume <span> 34,789,791</span></td>
            <td> Total Value <span> 98,669,995 </span> </td>
            <td> Total Trades <span> 960 </span> </td>
            <td> Traded Companies <span> 33 </span> </td>
            <td> Advanced <span> 16 </span> </td>
        </tr>
    </table>

    <table>
        <caption> DAILY STATISTICS </caption>
        <tr>
            <td> Total Volume <span> 34,789,791</span></td>
            <td> Total Value <span> 98,669,995 </span> </td>
            <td> Total Trades <span> 960 </span> </td>
            <td> Traded Companies <span> 33 </span> </td>
            <td> Advanced <span> 16 </span> </td>
        </tr>
    </table>
    <div class="move"> </div>

</div>

<div class="contan2">

    <div class="subject1">
        <h1> subject one </h1>
    </div>

    <div class="subject2">
        <h1> subject two </h1>
    </div>

    <div class="subject3">
        <h1> subject three </h1>
    </div>
</div>

<div class="contan3">
    <img src="#" alt=>
    <h2> </h2>
</div>
</div>
{% endblock content %}