<!DOCTYPE html> {% load static from staticfiles %}

<!--head-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
</head>

<body>
    <div class="contanier">
        <div class="head">
            <div class="btn" <a href='#'> Home</a>
            </div>
            <div class="btn" <a href='#'> Contant </a>
            </div>
            <div class="btn" <a href='#'> More</a>
            </div>
            <div class="btn" <a href='#'> Sing In </a>
            </div>
        </div>


        <div class="fadeInUp">
            <table>
                <caption> DAILY STATISTICS </caption>
                <tr>
                    <td> Total Volume <span> 34,789,791</span></td>
                    <td> Total Value <span> 98,669,995 </span> </td>
                    <td> Total Trades <span> 960 </span> </td>
                    <td> Traded Companies <span> 33 </span> </td>
                    <td> Advanced <span> 16 </span> </td>
                </tr>
            </table>

            <table>
                <caption> DAILY STATISTICS </caption>
                <tr>
                    <td> Total Volume <span> 34,789,791</span></td>
                    <td> Total Value <span> 98,669,995 </span> </td>
                    <td> Total Trades <span> 960 </span> </td>
                    <td> Traded Companies <span> 33 </span> </td>
                    <td> Advanced <span> 16 </span> </td>
                </tr>
            </table>

            <table>
                <caption> DAILY STATISTICS </caption>
                <tr>
                    <td> Total Volume <span> 34,789,791</span></td>
                    <td> Total Value <span> 98,669,995 </span> </td>
                    <td> Total Trades <span> 960 </span> </td>
                    <td> Traded Companies <span> 33 </span> </td>
                    <td> Advanced <span> 16 </span> </td>
                </tr>
            </table>
            <div class="move"> </div>

        </div>

        <div class="contan2">

            <div class="subject1">
                <h1> subject one </h1>
            </div>

            <div class="subject2">
                <h1> subject two </h1>
            </div>

            <div class="subject3">
                <h1> subject three </h1>
            </div>
        </div>

        <div class="contan3">
            <img src="#" alt=>
            <h2> </h2>
        </div>
    </div>


    <!--
<div class=bottom></div>

<div class=img2>
    <img src=cr3.jpg height=300px width=350px;>
    <p> aiofhoajoagjo </p>
</div>
-->
</body>