<!-- Footer-->
<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-md-4 bbb">
            <p class="footer-stock">Stock
                <span class="footer-market">Market</span>
            </p>
            <i class="fab fa-facebook-square"></i>
            <a href="https://www.facebook.com"> <i class="fab fa-facebook-square"></i> </a>
            <a href="https://twitter.com/"> <i class="fab fa-twitter"> </i> </a>
                <a href="https://www.linkedin.com/"> <i class="fab fa-linkedin-in"></i></a>
           
        </div>
        <div class="col-md-4">
            <h2>Some Links </h2>
            <ul class="list-unstyled list-text">
                <li>
                    <a href="#"> Reports</a>
                </li>
                <li>
                    <a href="#"> Trade</a>
                </li>
                <li>
                    <a href="#"> Infro </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2> About Us </h2>
            <p2> fa\jl\;g GLMGK;g gM;g;k; ;KG;ASK;KG; ;AGM;LAL;GK fa\jl\;g GLMGK;g gM;g;k; ;KG;ASK;KG; ;AGM;LAL;GK fa\jl\;g GLMGK;g
                ;KG;ASK;KG; ;AGM;LAL;GK fa\jl\;g GLMGK;g gM;g;k; ;KG;ASK;KG; ;AGM;LAL;GK </p2>
            
        </div>
    </div>
 <p3 style="color:black;font-size:15px;font-weight:400;font-family:'Times New Roman', Times, serif; ">  3loooooooo2 Computer &copy; 2018</p3>

</footer>