<!-- Footer-->
<footer>    
    <div class="container ">
      <div class="row">
          <div class="col-md-4">
              <h1 class="brand">Stock Over</h1>
            </div>
        <div class="col-md-4">
          <h1 class="head">pages</h1>
          <ul>
             <li><a href="{% url 'about' %}" style="color:white;"> About Us</a></li>  
            <li> <a href="{% url 'contact' %}" style="color:white;"> Contact</a> </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h1 class="head">Default list:</h1>
          <ul>
            <li></li>
            <li></li>
            <li> </li>
          </ul>
        </div>
      </div>
    </div>

</footer>
<p style="text-align:center">&copy; 2018 Computer Engineering (AIET)</p>