<!-- Footer-->
<footer>    
    <div class="container ">
      <div class="row">
          <div class="col-md-4">
              <h1 class="brand"><span style="color:#1f96ea">Stock</span><span style="color:black;">Over</span></h1>
            </div>
        <div class="col-md-4">
          <h1 class="head">pages</h1>
          <ul>
             <li><a href="{% url 'about' %} " style="color:#5f6f3f" > About Us</a></li>  
            <li> <a href="{% url 'contact' %}" style="color:#5f6f3f"> Contact</a> </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h1 class="head">Default list:</h1>
          <ul>
            <li></li>
            <li></li>
            <li> </li>
          </ul>
        </div>
      </div>
    </div>

</footer>
<p style="text-align:center">Copyright&copy; 2018 Computer Engineering (AIET)</p>