{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>Diagrams</title>

        <!-- Bootstrap core CSS -->
        <script src='{% static "css/bootstrap.min.css" %}' rel="stylesheet"></script>

        <!-- Custom styles for this template -->
        <script src='{% static "css/dashboard.css" %}' rel="stylesheet"></script>
    </head>

    <body>

    <div class="container-fluid">
        <div class="row">


            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    {% block coName %}{% endblock coName %}

                </div>

                {% block plot %}{% endblock plot %}
            {% block table %}{% endblock table %}


            </main>
        </div>
    </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src='{% static "javascript/jquery-3.2.1.slim.min.js" %}'></script>
    <script>window.jQuery || document.write('<script src=\'{% static "javascript/jquery-3.2.1.slim.min.js" %}\'><\/script>')</script>
    <script src='{% static "javascript/popper.min.js" %}'></script>
    <script src='{% static "javascript/bootstrap.bundle.min.js" %}'></script>

    <!-- Icons -->
    <script src='{% static "javascript/feather.min.js" %}'></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
{# switch between plots #}
    <script>
        function readyFn($) {
            // Code to run when the document is ready.
            $(function () {
                var targets = $('.targetDiv');
                targets.hide();
                targets.eq(0).show();
                $('.showSingle').click(function () {
                    $('.targetDiv').hide();
                    $('#div' + $(this).attr('target')).show();
                });
            });
        }

        $(document).ready(readyFn);

    </script>


    {#    <script src='{% static "javascript/Chart.min.js" %}'></script>#}
    {#    <script>#}
    {#        var ctx = document.getElementById("myChart");#}
    {#        var myChart = new Chart(ctx, {#}
    {#            type: 'line',#}
    {#            data: {#}
    {#                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],#}
    {#                datasets: [{#}
    {#                    data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],#}
    {#                    lineTension: 0,#}
    {#                    backgroundColor: 'transparent',#}
    {#                    borderColor: '#007bff',#}
    {#                    borderWidth: 4,#}
    {#                    pointBackgroundColor: '#007bff'#}
    {#                }]#}
    {#            },#}
    {#            options: {#}
    {#                scales: {#}
    {#                    yAxes: [{#}
    {#                        ticks: {#}
    {#                            beginAtZero: false#}
    {#                        }#}
    {#                    }]#}
    {#                },#}
    {#                legend: {#}
    {#                    display: false,#}
    {#                }#}
    {#            }#}
    {#        });#}
    {#    </script>#}
    </body>
    </html>
{% endblock content %}