<!-- Inherit base page-->
{% extends 'base.html' %}


<!-- Content-->
{% block content %}

    <div class="container-fluid">
        <div class="row">

            <!--left nav-->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        <!-- Items -->
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>

                </div>

                <!-- cavans container -->
                <canvas class="my-4" id="myChart" width="900" height="380"></canvas>


            </main>
        </div>
    </div>

{% endblock content %}
