<!-- Inherit base page-->
{% extends 'base.html' %}

<!-- URLs variables-->
{% url 'amazon' as amazon %}
{% url 'apple' as apple %}
{% url 'alibaba' as alibaba %}
{% url 'bitcoin' as bitcoin %}
{% url 'facebook' as facebook %}
{% url 'microsoft' as microsoft %}
{% url 'samsung' as samsung %}
{% url 'twitter' as twitter %}


<!-- Content-->
{% block content %}

    <div class="container-fluid">
        <div class="row">

            <!--left nav-->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        <!-- Items -->
                        <li class="nav-item">
                            <h3>
                                <span data-feather="home"></span>
                                Companies <span class="sr-only">(current)</span>
                            </h3>

                            <a class="nav-link active" href="{% url "amazon" %}">
                                <span data-feather="home"></span>
                                Amazon <span class="sr-only">(current)</span>
                            </a>

                            <a class="nav-link active" href="{% url "apple" %}">
                                <span data-feather="home"></span>
                                Apple <span class="sr-only">(current)</span>
                            </a>

                            <a class="nav-link active" href="{% url "alibaba" %}">
                                <span data-feather="home"></span>
                                Alibaba <span class="sr-only">(current)</span>
                            </a>

                            <a class="nav-link active" href="{% url "bitcoin" %}">
                                <span data-feather="home"></span>
                                Bitcoin <span class="sr-only">(current)</span>
                            </a>

                            <a class="nav-link active" href="{% url "facebook" %}">
                                <span data-feather="home"></span>
                                Facebook <span class="sr-only">(current)</span>
                            </a>

                            <a class="nav-link active" href="{% url "microsoft" %}">
                                <span data-feather="home"></span>
                                Microsoft <span class="sr-only">(current)</span>
                            </a>

                            <a class="nav-link active" href="{% url "samsung" %}">
                                <span data-feather="home"></span>
                                Samsung <span class="sr-only">(current)</span>
                            </a>

                            <a class="nav-link active" href="{% url "twitter" %}">
                                <span data-feather="home"></span>
                                Twitter <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>

                </div>
            </nav>

            <!-- Dashboard body-->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>

                </div>

                <!-- Diagrams part-->
                <div class="row">
                    <div class="col-md-9">

                        <!-- Company Diagram snippet-->
                        {% block Company %}

                        {% endblock Company %}
                    </div>
                </div>

            </main>

        </div>
    </div>

{% endblock content %}
