{% extends "home/base.html" %}

<!-- load files-->
{% load i18n %} {% load crispy_forms_tags %}

<!-- Title-->
{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- Content-->
{% block content %}
<h1>{% trans "Change Password" %}</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">

    <!-- Security token-->
    {% csrf_token %}

    <!-- Form-->
    {{ form|crispy }}
    <button type="submit" name="action">{% trans "Change Password" %}</button>
</form>
{% endblock %}