<!-- Inhirts the base file-->
{% extends "home/base.html" %}

<!-- Loading packages contents-->
{% load i18n %} {% load account %} {% load crispy_forms_tags %}

<!-- Head title-->
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

<!-- Content will be merged in the base-->
{% block content %}
<div class="container-fluid" style="margin: auto;">

    <h1>{% trans "Password Reset" %}</h1>

    <!-- If statment-->
    {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

    <p class="text-muted">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %} {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}" />
    </form>

    <p class="text-info">
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    </p>
</div>
{% endblock content %}