
footer {
    background-color:#565656;
    width: 100%;
    padding: 60px 0px;
}
ul{
color: white;
font-family: cursive;
font-size: 15px;
list-style:none;
}
.brand{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 32px;
}
.head{
    color: #bda033;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 26px;

}