
.dropdown-menu {
    min-width: 300px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
.carousel {
    position: relative;
    padding-top: 112px;
}
/* table edits*/
h4{
    color: #2635e2;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    padding-top: 10px;
    font-size: 30px;
}
.tablehead{

}
.tabl {
    margin-top: 20px;
    background-color: white;
}
body {
    background-color:#f9f9f9;

}



