
.dropdown-menu {
    min-width: 300px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}


body {
    /*padding-top: 70px;*/
    /*padding-bottom: 30px;*/
    background-color: rgba(0, 53, 255, 0.06);

}

.col-md-12 {
    width: 100%;

}

