.navbar-light .navbar-nav .nav-link {
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    margin-left: 85px;
}