{% extends 'diagrams.html' %} {% block coName %}
<h1 class="h2">Apple Inc.</h1>
{% endblock coName %} {% block plot %}
<!-- Nav pills -->
<ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#home">Bollinger Bands Strategy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu1">Return </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">Moving Crossover</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu3">Stock Prices</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
    <div id="home" class="container tab-pane active">
        <br> {% include "includes/apple/AAPL Bollinger Bands Strategy.html" %}

        <!-- Machine learning model input form-->
        <div id="machine">
            <form action="/diagrams/AAPL" method="post">
                {% csrf_token %}

                <!-- Select menue choose Machine Learning model-->
                <select class="custom-select" name="model">
                        <option value="knn">knn</option>
                        <option value="dtc">decesion tree c4.5</option>
                        <option value="gnb">gaussian nayiv bayes</option>
                </select>

                <!--Features Input-->
                <input type="text" name="feature1" placeholder="High">
                <input type="text" name="feature2" placeholder="Low">
                <input type="text" name="feature3" placeholder="upper band">
                <input type="text" name="feature4" placeholder="lower band">
                <button type="submit">Recommend</button>
            </form>
        </div>

        <!--Machine Learning outut paragraph -->
        <div>
            <h1>
                Result : {{decesion}}
            </h1>
            <p>{{recommendtion}}</p>
        </div>
    </div>

    <div id="menu1" class="container tab-pane fade">
        <h3>Daily Return</h3>
        <br>{% include "includes/apple/AAPL Daily Return prices.html" %}
        <h3>Monthly Return</h3>
        <br>{% include "includes/apple/AAPL Monthly Return prices.html" %}
    </div>

    <div id="menu2" class="container tab-pane fade"><br>
        <h3>Moving Crossover Stratigy</h3>
        <br>{% include "includes/apple/AAPL Moving Crossover Strategy.html" %}
    </div>

    <div id="menu3" class="container tab-pane fade">
        <h3>Stock Prices</h3>
        <br>{% include "includes/apple/AAPL Stock Prices.html" %}
    </div>
</div>
{% endblock plot %} {% block table %}
<!-- Tables-->

<!-- <h2>Section title</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>date</th>
                <th>open</th>
                <th>close</th>
                <th>high</th>
                <th>low</th>
                <th>adjusted close</th>
                <th>volume</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
        </tbody>
    </table>
</div> -->
{% endblock table %}