{% extends 'diagrams.html' %}
{% block coName %}
    <h1 class="h2">Bitcoin</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="showSingle btn btn-sm btn-outline-secondary" target="1">plot 1</button>
            <button class="showSingle btn btn-sm btn-outline-secondary" target="2">plot 2</button>
            <button class="showSingle btn btn-sm btn-outline-secondary" target="3">plot 3</button>
            <button class="showSingle btn btn-sm btn-outline-secondary" target="4">plot 4</button>
        </div>
    </div>
{% endblock coName %}
{% block plot %}
    <div class="my-4">
        <div id="div1" class="targetDiv ">plot 1</div>
        <div id="div2" class="targetDiv ">plot 2</div>
        <div id="div3" class="targetDiv ">plot 3</div>
        <div id="div4" class="targetDiv ">plot 4</div>
    </div>
{% endblock plot %}
{% block table %}
    <!-- Tables-->

    <h2>Section title</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>date</th>
                <th>open</th>
                <th>close</th>
                <th>high</th>
                <th>low</th>
                <th>adjusted close</th>
                <th>volume</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock table %}