.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    left: 0px;
    top: 0px;
    z-index: 1;
}

.navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0px;
}

h1 {
    font-size: 2.5rem;
    color: white;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 8;
    font-style: inherit;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

.bg-dark {
    background-color: #343a40 !important;
    padding: 0px;
}

.navbar-light .navbar-brand {
    color: #aafddb(2, 0, 0, 0.9);
    font-weight: bold;
}

.nav-link .moh {
    color: white;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: linen;
    font-family: Georgia, serif;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: red;
    background-color: rgba(20, 20, 63, 0.404);
    text-decoration-line: none;
}